<table id="teams">
  <% @teams.each do |t| %>
      <%= render t %>
  <% end %>
</table>

<br />
<div id="info">
  new
</div>
<div id="form">
    <%= render :partial => "form" %>
</div>


