<section class="tmgt-container-section">
  <div class="row">
    <div class="large-2 columns tmgt-btn-budge-style1">
      <h5>Team List</h5>
    </div>
  </div>
  <section  id="reports">
    <div class="row">
      <div class="large-6 columns panel">
        <ul id="teams" class="side-nav">
          <% @teams.each do |t| %>
              <%= render t %>
          <% end %>
        </ul>
        <div class="pagination-centered">
          <%= will_paginate @users, renderer: FoundationPagination::Rails %>
        </div>
      </div>
      <% if can?(:create,Team) %>
        <div class="large-5 large-offset-1 columns panel info">
            <div class="radius secondary label" id="form_status">
              <h4>New</h4>
            </div>
            <div id="form">
              <%= render :partial => "form" %>
            </div>
        </div>
      <% end %>    
    </div>
  </section>
</section>
