<div class="member-chat">
  <div class="profile-pic">
    <em><%= message.user.email.truncate(10)%></em><br>
    <img src="img/1.jpg" alt="" width="100%">
  </div>  <!-- eo member profile pic -->
  <div class="msg">
    <%= message.content %>
  </div>  <!-- eo member msg -->
  <div class="clear"></div>
</div>  <!-- eo member-chat -->
<div class="clear"></div>
