<div class="user-chat">
  <div class="profile-pic">
    <em><%= message.user.email.truncate(10)%></em><br>
    <%= image_tag message.user.photo,class: "tip-bottom radius",'data-tooltip'=>'','data-options'=> "disable_for_touch:true",'title'=> message.user.name %>
  </div>  <!-- eo user profile pic -->
  <div class="msg">
    <%= message.content %>
  </div> <!-- eo user msg -->
  <div class="clear"></div>
</div>  <!-- eo user-chat -->
<div class="clear"></div>
