<h1>Detail Team Report</h1>

<div id='<%= dom_id(@team_report)%>'>
    <div class="header">
        <%= @team_report.report_date %>
        <%= @team_report.team.name %>
    </div>
    <div class="content">
      <%= @team_report.content %>
    </div>
</div>
