<section id="reports" class="tabs-content tmgt-container-section">
  <div class="row">
    <div class="large-2 columns tmgt-btn-budge-style1">
      <h5>Edit Member</h5>
    </div>
  </div>
  <%= render 'form' %>

</section>

