<section class="tmgt-container-section">
  <div class="row">
    <div class="large-2 columns tmgt-btn-budge-style1">
      <h5>Member Info</h5>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="label info radius">
        Name
      </div>
      <div>
        <%= @user.name %>
      </div>
    </div>
  </div>
  <%= link_to "back",users_path %>

</section>