<h1 align="center" class="cm-bigger">AWITD Reporting System</h1>


<ul class="small-block-grid-2 large-block-grid-4 cm-home-ads">
  <li>Write Reports</li>
  <li>Chat with Teams</li>
  <li>Send emails</li>
  <li>generate report files</li>
</ul>
<div class="panel" align="center">
  <% unless current_user %>
    <%= link_to 'sign in',new_user_session_path,class: 'button radius' %>
  <% end %>
</div>
