<div class="large-3 columns tmgt-off-canvas-parent-before" id="tmgt-off-canvas-parent">
  <section id="tmgt-container-off-canvas-menu">
    <ul id="all_groups">
      <% current_user.groups.each do|g| %>
        <%= render partial: 'groups/group', locals: {group: g} %>
      <% end %>
    </ul>
  </section> <!-- eo tmgt-container-off-canvas-menu -->
</div> <!-- eo tmgt-off-canvas-parent-before -->