<% if flash.notice then %>
<p id="notice" data-alert class="alert-box">
  <%= flash.notice %>
  <a href="#" class="close pull-right white-text">&times;</a>
</p>
<% end %>

<% if flash.alert then%>
<div id="alert" data-alert class="alert-box">
  <%= flash.alert %>
  <a href="#" class="close pull-right white-text">&times;</a>
</div>
<% end %>