<div class="content" id="<%= group.name %>">
  <!-- chat message area 1 -->
  <div class="tmgt-chat-user-group">
    <% group.users.each do |u| %>
      <%= image_tag u.photo,class: "tip-bottom radius",'data-tooltip'=>'','data-options'=> "disable_for_touch:true",'title'=> u.name %>
    <% end %>
  </div>
  <div class="tmgt-chat-box" id="custom-scrollbar">
     <% group.messages.each do|message| %>
       <%= message_presenter(message) %>
     <% end %>
  </div>  <!-- eo tmgt-chat-box #custom-scrollbar -->
</div>