@mixin tmgt-boxshadow() {
  -webkit-box-shadow: 1px 2px 5px 0px rgba(111,112,127,.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(111,112,127,.75);
  -o-box-shadow: 1px 2px 5px 0px rgba(111,112,127,.25);
  box-shadow:  1px 2px 5px 0px rgba(111,112,127,.75);
}

@mixin tmgt-boxshadow-mixin($x,$y,$spread,$optional_blur,$color: rgba(0,0,0,0)) {
  -webkit-box-shadow:  $x $y $spread $optional_blur $color;
  -moz-box-shadow:  $x $y $spread $optional_blur $color;
  -o-box-shadow:  $x $y $spread $optional_blur $color;
  box-shadow:  $x $y $spread $optional_blur $color;
}

@mixin transition($property,$mode,$duration,$delay:0s) {
  transition: $property $mode $duration $delay;
  -webkit-transition: $property $mode $duration $delay;
  -moz-transition: $property $mode $duration $delay;
  -o-transition: $property $mode $duration $delay;
}

@mixin tmgt-hover-boxshadow() {
  -webkit-box-shadow:  0px 0px 0px 0px rgba(111,112,127,.75), inset 1px 1px 1px 0px rgba(111,112,127,.75);
  -moz-box-shadow:  -1px -2px 1px 0px rgba(111,112,127,.75), inset 1px 1px 1px 0px rgba(111,112,127,.75);
  -o-box-shadow:  -1px -2px 1px 0px rgba(111,112,127,.75), inset 1px 1px 1px 0px rgba(111,112,127,.75);
  box-shadow:  0px 0px 0px 0px rgba(111,112,127,.75), inset 1px 1px 1px 0px rgba(111,112,127,.75);
}

@mixin tmgt-text-shadow() {
  text-shadow: 1px 1px 4px rgba(203,203,203,.75);
  -webkit-text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
  -moz-text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
  -o-text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
}