// Place all the styles related to the MemberReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation/components/alert-boxes";
@import "foundation/components/buttons";

  $list_header: #2C3E50;
  $alert-bg: #C0392B;
  $notice-bg: #27AE60;
  ul.cm-listview{
    list-style: none;

  }
  li.cm-listheader div{
    background-color: $list_header;
    color: whitesmoke;
  }

  @mixin cm-base-alert{
    width: 100%;
    text-align: center;
  }

.cm-alert {
  @include alert-base;
  @include alert-style($alert-bg);
  @include cm-base-alert;

}

.cm-notice {
  @include alert-base;
  @include alert-style($notice-bg);
  @include cm-base-alert;

}

.cm-bigger{
  font-size: 5em;
}

ul.cm-home-ads{
  text-align: center;
  font-size: 2em;
  color: ghostwhite;
  background-color: #333333;
  padding: 10px;
}

.cm-tab-container{
  width: 100%;
}

.cm-button-generated {
  @include button-base;
  @include button-size;
  @include button-style(#2C3E50, true, true);
}

.cm-row-margin-remove{
  margin-left: -10px!important;
}

.cm-list-container{
  width: 100%;
  margin: 0 auto;
}
.cm-listview-wrapper{
  margin-left:  10px;
  margin-right:  10px;
}

.cm-nav-active{
  background-color: #2C3E50;
}
.cm-transfer-success{
  background-color: seagreen!important;
}

.symbol_size{
  font-size: 30px;
  color: seagreen;
}

.leader_icon{
  font-size: 1.5em;
  color: seagreen;
}

.cm-rounded-image{
  width: 80px;
  height: 70px;
  border-radius: 20px;
}
.avatar{
  padding-bottom: 20px;
}

input[type="file"] {
  background: rgba(155,155,155,.3);
  padding: 5px;
  border-radius: 5px;
  color: #fff;

}

.kmn-date-time select{
  width: 80px;
  margin-right: 10px;
}

#alert a,#notice a{
  color: #000000;
  font-size: 2em;
}
.cm-report-edit-fields {
  header {
      -webkit-box-shadow: 1px 2px 5px 0px rgba(111, 112, 127, 0.75);
      -moz-box-shadow: 1px 2px 5px 0px rgba(111, 112, 127, 0.75);
      -o-box-shadow: 1px 2px 5px 0px rgba(111, 112, 127, 0.25);
      box-shadow: 1px 2px 5px 0px rgba(111, 112, 127, 0.75);
      background: #fff;

    max-width: 120px;
    margin: 10px;
    border-radius: 2px;
    text-align: center;
    padding: 10px;
  }
}

.cm-planned-report{
  font-size: 2em;
  font: 'Prociono';
  margin-top: 5px;
  text-align: left;
  min-height: 100px;
  padding: 25px;
  background-color: lightgray!important;
}

.cm-leader-review-button{
  margin-top: 75px;
}

#chat_notification {
  position: absolute;
  left: 250px;
  border: 1px solid #8B8B8B;
  padding: 5px;
  line-height: 1  ;
  margin-top: 8px;
  background: #444;
  -webkit-box-shadow:inset 1px 2px 5px 0px rgba(111,112,127,.75) , 1px 2px 5px 0px rgba(111,112,127,.75);
  -moz-box-shadow: inset 1px 2px 5px 0px rgba(111,112,127,.75)  , 1px 2px 5px 0px rgba(111,112,127,.75);;
  -o-box-shadow: inset 1px 2px 5px 0px rgba(111,112,127,.25), 1px 2px 5px 0px rgba(111,112,127,.75);;
  box-shadow:  inset 1px 2px 5px 0px rgba(111,112,127,.75) , 1px 2px 5px 0px rgba(111,112,127,.75); ;
}

#cm-notification{
  height: 100%;
}
