<br>
<% unless reports.empty? %>
  <div class="content row" role="tabpanel">
    <table class="large-12 columns">
      <thead>
        <tr>
          <th>
            Date
          </th>
          <th>
            Status
          </th>
          <th>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <% reports.each do |report| %>
            <%= render partial:'report',locals: {report: report} %>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  You have not generated reports for this week yet.
  <%= form_tag(user_reports_path(current_user)) do %>
      <%= submit_tag 'Generate Now',class: 'button radius' %>
  <%end%>

<%end%>
</ul>
