<%= render partial: 'layouts/reports_header',locals: {user: current_user} %>
<h1>Today Reports</h1>

<%= render(partial: 'report_generator',locals: {reports: @reports}) %>


<%= link_to 'Get excel',get_excel_user_reports_path(user_id: current_user.id) %>


