<section  id="reports" class="tabs-content tmgt-container-section cm-tab-container">

  <div class="row">
    <div class="large-2 columns tmgt-btn-budge-style1">
      <h5>Today Reports</h5>
    </div>

  </div>
  <div class="cm-listview-wrapper   cm-row-margin-remove">

<%= render(partial: 'report_generator',locals: {reports: @reports}) %>
 </div>
</section>




