<div class="large-3 medium-4 small-9 columns tmgt-off-canvas-parent-before" id="tmgt-off-canvas-parent">
  <section id="tmgt-container-off-canvas-menu">
    <ul>
      <li><%= link_to "Write Report",user_reports_path(current_user)%></li>
      <li><%= link_to "View Member Reports",leader_team_reports_path(current_user.team)%></li>
    </ul>

  </section> <!-- eo tmgt-container-off-canvas-menu -->
</div> <!-- eo tmgt-off-canvas-parent-before -->