<div class="contain-to-grid fixed">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <div><h1 class="white-text">AWITD Reporting System</h1></div>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="right top-bar-section">
      <ul class="right" id="tooltip-group">
        <li>
          <%= link_to user_reports_path(current_user) do %>
            <i class="fa fa-print tip-bottom radius" data-tooltip data-options="disable_for_touch:true" title="My Reports">My Reports</i>
          <% end %>
        </li>
        <li>
          <%= link_to logout_path,method: :delete do %>
            <i class="fa fa-sign-out tip-bottom radius" data-tooltip data-options="disable_for_touch:true" class="" title="Log out">Log out</i>
          <% end %>
        </li>
      </ul>
    </section>   <!-- eo right tab-bar-section -->
  </nav> <!-- eo tab-bar -->
</div>
<br/><br/> <br/>
